.imgCar 
{
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
img.resize 
{
    max-width:60%;
    max-height:60%;    
}

img.resize2
{
    max-width:80%;
    max-height:80%;       
}

img.image 
{
    max-width:80%;
    max-height:80%;
    align-content: center;
}

*
{
    font-family: sans-serif;
}

.container
{
    margin-top: 7rem;
    margin-bottom: 2rem;
}

ul.ul_style
{    
    list-style-type: none;
    margin: 0;
    padding: 0;        
}

body 
{
    margin:0;    
}

.topnav 
{
    overflow: hidden;
    background-color: #333;
}

.topnav a 
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover 
{
    background-color: #ddd;
    color: black;
    text-decoration: none;
    
}

.topnav a.active 
{
    background-color: #c74313;
    color: white;
    text-decoration: none;
}

img.resize:hover 
{  
    border:2px solid red;  
    box-shadow: 0 0 10px #333;   
}



table 
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th 
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) 
{
    background-color: #dddddd;
}

dt 
{
    font-weight: bold;
    text-decoration: underline;
}
dd 
{
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}





